/* ESTILOS PARA IMPRIMIR */

@media print {

}

/* ESTILO PARA TABLET */

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        width: 70%;
    }

    section#contenedor_img {
        float: left;
        height: 100%;
    }
    
}


/* ESTILO PARA DESKTOP */

@media screen and (min-width: 993px) and (max-width: 1200px) {

}


/* ESTILO PARA TV */

@media screen and (min-width: 1200px) {

}