/* ESTILOS PARA IMPRIMIR */

@media print {

}

/* ESTILO PARA TABLET */

@media screen and (min-width: 768px) and (max-width: 992px) {

    body, html {
        background-image: linear-gradient(#5f2c82, #49a09d);
    }

    section#login {
        width: 90%;
        height: 250px;
        max-width: 650px;
    }

    div#contenedor_img {
        float: left;
        width: 40%;
        height: 100%;
    }

    div#contenedor_form {
        float: right;
        width: 60%;
    }

}


/* ESTILO PARA DESKTOP */

@media screen and (min-width: 993px) {

    body, html {
        background-image: linear-gradient(#5f2c82, #49a09d);
    }

    section#login {
        width: 80%;
        height: 300px;
        max-width: 800px;
    }

    div#contenedor_img {
        float: right;
        width: 40%;
        height: 100%;
    }


    div#contenedor_form {
        float: left;
        width: 60%;
    }

}